<a href="https://colab.research.google.com/github/VaidehiMore/project2/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Please upload your datasets before running the cells

### Q1: How many books do not have an original title [books.csv] ? (N)

In [1]:
import pandas as pd
import numpy as np
books = pd.read_csv("books.csv")
books["original_title"].isna().sum()

585

### Q2: How many unique books are present in the dataset ? Evaluate based on the 'book_id'? [books.csv] (N)

In [2]:
import pandas as pd
books = pd.read_csv("books.csv")
books["book_id"].nunique()

10000

### Q3: How many unique books are present in the dataset [books.csv]? (N)

In [14]:
import pandas as pd
ratings = pd.read_csv("books.csv")
ratings["book_id"].nunique()

10000

### Q4: Which book (title) has the maximum number of ratings based on (work_ratings_count) [books.csv] ? (S)

In [4]:
import pandas as pd
books = pd.read_csv("books.csv")
books.loc[books["work_ratings_count"].idxmax()]["title"]

'The Hunger Games (The Hunger Games, #1)'

### Q5: Which (tag_id) is the most frequently used ie. mapped with the highest number of books [books.csv]? (In case of more than one tag, mention the tag id with the least numerical value) (N)

In [20]:
import pandas as pd
book_tags = pd.read_csv("books.csv")
value_counts = book_tags['best_book_id'].value_counts()
max_count = value_counts.max()
value_counts[value_counts == max_count].index.min()

1

### Q6: Which book (title) has the most number of counts of tags given by the user ie. the book with maximum user records including all tags [book_tags.csv,books.csv] ? (S)

In [30]:
import pandas as pd
books = pd.read_csv("books.csv")

value_counts = book_tags.groupby("goodreads_book_id")["book_id"].sum()
books[books["goodreads_book_id"] == value_counts.idxmax()]["title"].values[0]

'The First World War'

### Q7: Which book (goodreads_book_id) is marked as to-read by most users [books.csv,toread.csv] ? (N)

In [32]:
import pandas as pd
books = pd.read_csv("books.csv")

value_counts = books.groupby("book_id")["title"].nunique()
books[books["book_id"] == value_counts.idxmax()]["title"].values[0]

'The Hunger Games (The Hunger Games, #1)'

### Q8: Which is the least used tag, i.e. mapped with the lowest number of books [book_tags.csv]? (In case of more than one tag, mention the tag id with the least numerical value) (N)

In [33]:
import pandas as pd
books = pd.read_csv("books.csv")
value_counts = book_tags["book_id"].value_counts()
min_count = value_counts.min()
value_counts[value_counts == min_count].index.min()

1

### Q9: Which book (title) has the minimum (average_rating) [books.csv], if more than 1 book have same average rating, sort the books by ['title'] in alphabetical order and use the first book in the sorted list? (S)

In [ ]:
import pandas as pd
books = pd.read_csv("books.csv")
min_avg_rating = books["average_rating"].min()
books[books["average_rating"] == min_avg_rating]["title"].sort_values(ascending=True).values[0]

'Lost'

### Q10: Which book (goodreads_book_id) has the least number of count of tags given by the user ie. the book with minimum user records including all tags [book_tags.csv] ? (N)

In [ ]:
import pandas as pd
book_tags = pd.read_csv("book_tags.csv")
value_counts = book_tags.groupby("goodreads_book_id")["count"].sum()
value_counts[value_counts == value_counts.min()].index[0]

3334563

### Q11: How many unique tags are there in the dataset [books.csv] ? (N)

In [34]:
import pandas as pd
books = pd.read_csv("books.csv")
book_tags["book_id"].nunique()

10000

### Q12: What is the mean value of rating of all the books in the dataset based on (average_rating) [books.csv] ? (F)

In [11]:
import pandas as pd
books = pd.read_csv("books.csv")
f"{books['average_rating'].mean():.2f}"

'4.00'

### Q14: Predict sentiment using Textblob. How many positive titles (original_title) are there [books.csv] ? (cut-off >=0) N

In [10]:
from textblob import TextBlob
import pandas as pd
import numpy as np
books = pd.read_csv("books.csv")
books_cleaned = books.dropna(subset=["original_title"])
original_titles = books_cleaned["original_title"].values
[TextBlob(title).sentiment.polarity >= 0 for title in original_titles].count(True)

8458

### Export

In [9]:
import pandas as pd
### Edit this to include your questions and answers in order
answers = {"Q4":"The Hunger Games (The Hunger Games, #1)",
           "Q12":4.05,
           "Q6":"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",
           "Q10":3334563,
           "Q8":24,
           "Q11":6084,
           "Q1":51,
           "Q7":5470,
           "Q2":1620,
           "Q14":1426}

### Download the answers.csv
pd.DataFrame.from_dict(answers,orient='index').to_csv("answers.csv", header=False, encoding='utf-8')

#### PS: Wrapping up this final Project! It's been great learning with everyone. Thank You!!

Let's keep in touch: [LinkedIn](https://in.linkedin.com/in/sm-arif-ali-17386821b)